{:kotoba.app/id "cloud.itonami.isic-6493", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiesbetx4cvnh7iqijxqv6yggf2egfxofyrdhpolvckwyjiiyx55ou", :kotoba.app/embed-url "ipfs://bafkreiesbetx4cvnh7iqijxqv6yggf2egfxofyrdhpolvckwyjiiyx55ou", :published {:archive "https://kotobase.net/ipfs/bafkreiesbetx4cvnh7iqijxqv6yggf2egfxofyrdhpolvckwyjiiyx55ou", :size 73419, :put-status 201, :get-status 200, :at "2026-08-15T13:49:37.843Z"}}
